[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
pytest-alembic = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
docker = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.3"
